/* -------- SECCIONES -------- */
section {
  padding: 3rem 1rem;
  margin-bottom: 1.5rem; /* separa secciones */
}

/* 1° sección: BLANCO (texto rosa) */
.cuando {
  background: #fff; 
}
.cuando h3, .cuando p {
  color: #ffcee4;
}

/* 2° sección: ROSA (texto blanco) */
.donde {
  background: #ffcee4;
}
.donde h3, .donde p {
  color: #fff;
}

/* 3° sección: BLANCO (texto rosa) */
.dresscode {
  background: #fff;
}
.dresscode h3, .dresscode p {
  color: #ffcee4;
}

/* 4° sección: ROSA (texto blanco) */
.regalos {
  background: #ffcee4;
}
.regalos h3, .regalos p {
  color: #fff;
}

/* 5° sección: BLANCO (texto rosa) */
.rsvp {
  background: #fff;
}
.rsvp h3, .rsvp p {
  color: #ffcee4;
}
